# 1.checking wheather it is a palindrom or not

In [4]:
a=input("Enter the element : ")
b=a[::-1]
if a==b:
    print("it is a palindrom")
else:
    print("it is not a palindrom")

Enter the element : refer
it is a palindrom

# 2.reverse a string

In [7]:
a=input("enter the element : ")
b=a[::-1]
print(b)

enter the element : Dhanish ahmed college of engineering
gnireenigne fo egelloc demha hsinahD

# 3.finding factorial

In [31]:
a=int(input("Enter the number : "))
if a==0:
    print("1")
else:
    b=1
    for i in range(1,a+1):
        b=b*i
print(b)

Enter the number : 5
120

# 4.checking prime number or not

In [32]:
a=int(input("Enter the number : "))
if a%a==0:
    print("not a prime")
else:
    print(' it is prime')

Enter the number : 3
not a prime

# 5.fibonacci

In [1]:
a=int(input("Enter the number : "))
b=0
c=1
if a==0:
    print(b)
elif a==1:
    print(b)
    print(c)
else:
    print(b)
    for i in range(2,a+1):
        d=c+b
        b=c
        c=d
        print(b)

Enter the number : 10
0
1
1
2
3
5
8
13
21
34

# 6.finding largest element in the list

In [50]:
a=[78,34,54,56,54,123,67,98,10,45,34,74]
b=0
c=a[0]
for i in a:
    if b<i:
        b=i
    elif i<c:
        c=i
print(b) 
print(c)

123
10

# 7.second largest element in the list

In [71]:
a=[78,34,54,56,54,123,67,98,10,45,34,74]
a.sort()
a.pop()
print(a[-1])

98

# 8.sorting a list in asending order

In [72]:
a=[78,34,54,56,54,123,67,98,10,45,34,74]
a.sort()
a

[10, 34, 34, 45, 54, 54, 56, 67, 74, 78, 98, 123]

# 9.couting frequence element in the list

In [112]:
a=[78,34,54,56,54,123,67,98,10,45,34,74]
b={}
for i in a:
    if i in b:
        b[i]=b[i]+1
    else:
        b[i]=1
print(b)

{78: 1, 34: 2, 54: 2, 56: 1, 123: 1, 67: 1, 98: 1, 10: 1, 45: 1, 74: 1}

# 10.removing duplicate value

In [117]:
a=[12,3,2,23,34,23,2,3]
b=set(a)
b

{2, 3, 12, 23, 34}

# 11.common value in two list

In [131]:
a=[1,2,3,4,5]
b=[4,5,6,7,8]
c=[
]
for i in a:
    if i in b:
        c.append(i)
print(c)

[4, 5]

# 12.anagram check

In [145]:
a=input("")
b=input("")
c=b.replace(' ','')
if len(a)!=len(c):
    print("it is not  anagram")
else:    
    d={}
    for i in a:
        if i in d:
            d[i]+=1
        else:
            d[i]=1
            
    for j in c:
        if j in c:
            pass
        else:
            print("it is not anogram")
        
    
    else :
        print("it is aanagram")

evil
live
it is aanagram

# 13.sum all the value in the list

In [151]:
a=[1,2,3]
b=0
for i in a:
    b=b+i
print(b)

6

# 14.calculate the area of circle

In [13]:
a=float(input(""))
b=3.14
c=b*a*a
c

3

28.259999999999998

# 15.factorial using recursion

In [4]:
a=int(input(""))
def ameen(a):
    if a==0:
        return 1
    else:
        return a*ameen(a-1)
        
ameen(a)

5

120

# 16.check if it is positive,negative or zero

In [3]:
a=int(input(""))
if a>0:
    print("positive")
elif a==0:
    print("zero")
else:
    print("negative")

0
zero

# 17.determine child,adult,teenager and seniour citizen by their age

In [ ]:
age=int(input(""))
if age>=0 and age<=12:
    print("child")
elif age>=13 and age<=19:
    print("teenager")
elif age>=20 and age<60:
    print("adult")
elif age>=60:
    print("seniour citizen")
else:
    print("enter the valid age!")

# 18.grade output by their mark

In [12]:
mark=int(input(''))
if mark>=90 and mark<=100:
    print("A")
elif mark>=80 and mark<=89:
    print("B")
elif mark>=70 and mark<=79:
    print("C")
elif mark>=60 and mark<=69:
    print("D")
else:
    print("F")

98
A

# 19.first number is divisible by second

In [14]:
a=int(input(''))
b=int(input(''))
if a%b==0:
    print("it is divisible")
else:
    print("it is not divisible")

3
3
it is divisible

# 20.leap year or not

In [13]:
year=int(input(''))
if year%4==0:
    print("leap year")
else:
    print("not leap year")

2000
leap year

# 21.tax deduction

In [41]:
age=int(input("Enter the age ="))
income=int(input("Enter the income ="))
if income>=25000 and income<=50000:
    if age>30:
        print("you are eligible for tax")
        tax=income/20/100
        print("you have to pay",+ tax)
    else:
        print("you are not eligible for tax")
else:
    if income>50000:
        print("you are eligible for tax")
        tax=income/30/100
        print("you have to pay", tax)
    else:
        print("you are not eligible tax")

Enter the age =30
Enter the income =30000
you are not eligible for tax

# 22.enter 3 number and display greatest one

In [15]:
a=int(input(''))
b=int(input(''))
c=int(input(''))
if a>b and a>c:
    print(a)
elif b>c and b>a:
    print(b)    
elif c>b and c>a:
    print(c)

10
56
34
56

# 23.palindrom chech

In [40]:
s=input("")
m=s[::-1]
if s==m:
    print("s")
else:
    print("N")

refer
s

# 24.checking username and password

In [42]:
username=input("Enter the username = ")
password=input("Enter the password = ")
if username=="ameen" and password=="Ameen7":
    print("welcome",username,"!")
else:
    print("error!:invalid syntex, enter the valid username and password")

Enter the username = Ameen
Enter the password = Ameen7
error!:invalid syntex, enter the valid username and password

# 25.decler mr,ms and mastet

In [ ]:
username=input("Enter your name = ")
age=int(input("Enter your age = "))
gender=input("Enter your gender = ")
if age>=18 and gender=="male":
    print("Mr.",username)
elif age>=18 and gender=="female" :
    print("Ms.",username)
elif age<18 and gender=="male":
    print("master",username)
else:
    print("miss",username)

# 26.pattern A

In [51]:
for i in range(5):
    for j in range(3):
        if i==0 and j==0 or i==0 and j==2 or i==1 and j==1 or i==3 and j==1 or i==4 and j==1:
            print(end='   ')
        else:
            print("*",end="  ")
    print(" ")

   *
*     *
*  *  *
*     *
*     *

# 27.finding the largest value in the test.

In [10]:
a='''i would to go austrelia because it is dream country 
so i am preparing for ielts examination 
if creak the examiation defentently
i can able to go austreia
then i will pursue my masters in austrelia 
and my father there in the coutry which i am applying for beacause of him i can able to survive easily '''
b=a.split()
c={}
for i in b:
    c[i]=len(i)
#print(c)
d=max(c.items()) 
m={}
for i in c.keys():
    #print(i)
    if d==len(i):
        print(i)

# 28.palindrom in function

In [14]:
def pali(a):
    b=""
    for i in a:
        b=i+b
    print(b)
pali("Ameen")

neemA

# 29.Fizzbuzz

In [17]:
for i in range(0,101):
    if i%3==0 and i%5==0:
        print("FizzBuzz")
    elif i%3==0:
        print("fizz")
    elif i%5==0:
        print("Buzz")

FizzBuzz
fizz
Buzz
fizz
fizz
Buzz
fizz
FizzBuzz
fizz
Buzz
fizz
fizz
Buzz
fizz
FizzBuzz
fizz
Buzz
fizz
fizz
Buzz
fizz
FizzBuzz
fizz
Buzz
fizz
fizz
Buzz
fizz
FizzBuzz
fizz
Buzz
fizz
fizz
Buzz
fizz
FizzBuzz
fizz
Buzz
fizz
fizz
Buzz
fizz
FizzBuzz
fizz
Buzz
fizz
fizz
Buzz

# 30.fibonecci in fucntion

In [23]:
def fibo(a):
    b=0
    c=1
    if a==0:
        print(b)
    else:
        print(b)
        for i in range(1,a+1):
            d=c+b
            c=b
            b=d
            print(d)
fibo(7)

0
1
1
2
3
5
8
13

# 31.anagram in fuction

In [25]:
def ana(a,b):
    if len(a)!=len(b):
        print('not anagram')
    else:
        d={}
        for i in b:
            if i in d:
                d[i]+=1
            else:
                d[i]=1
        for i in b:
            if i in d:
                pass
            else:
                print("not Anagram")
        else:
            print("Anagram")
            
ana("evil","live")

Anagram

# 32.prime number in fuction

In [1]:
def prime(a):
    for i in range(1,a+1):
        if i%a==0:
            print("prime")
        else:
            print("not a prime")
prime(10)

not a prime
not a prime
not a prime
not a prime
not a prime
not a prime
not a prime
not a prime
not a prime
prime

# 33.base and exponent in recursion

In [33]:
def rec1(b,n):
    if n==1:
        return b
    else:
        return b*rec1(b,n-1)
rec1(10,3)

1000

# 34.sum all the element in the array using recurtion

In [1]:
def rec2(a):
    if len(a)==1:
        return a[0]
    else:
        return a[0]+rec2(a[1:])
a=[1,2,3,4,5,5]    
rec2(a)

20

# 35.palindrom in recursion function

In [ ]:
def rec3(a):
    b=""
    if len(a)==1:
        return a[0]
    else:
        return b+rec3(a[::-1])
rec3("ameen")

# 36.find the longest word in text file

In [3]:
a='''
FizzBuzz
Write a Python program that prints the numbers from 1 to 100. 
For multiples of three, print "Fizz" instead of the number, 
and for multiples of five, print "Buzz". 
For numbers that are multiples of both three and five, print "FizzBuzz
'''

b=a.split()
b
d={}
for i in b:
    d[i]=len(i)
print(d)
f=max(d.values())
print(f)
for j in d:  
    if d.values()==f:
        print(j)

{'FizzBuzz': 8, 'Write': 5, 'a': 1, 'Python': 6, 'program': 7, 'that': 4, 'prints': 6, 'the': 3, 'numbers': 7, 'from': 4, '1': 1, 'to': 2, '100.': 4, 'For': 3, 'multiples': 9, 'of': 2, 'three,': 6, 'print': 5, '"Fizz"': 6, 'instead': 7, 'number,': 7, 'and': 3, 'for': 3, 'five,': 5, '"Buzz".': 7, 'are': 3, 'both': 4, 'three': 5, '"FizzBuzz': 9}
9

# 37.counting occurrences of each word in the text file

get the text file and split it by ',' and creat empty dict and store the words like key values pair and add the all occurrences

In [1]:
a=''' Notebook Untitled Folder 1/Untitled1.ipynb is not trusted
Kernel started: 995119e2-6a90-400a-92c2-7686108efac6, name: python3
Notebook Untitled Folder 1/Untitled.ipynb is not trusted
6b66ff5e-4d37-4c3b-af20-61f72df625a2, name: python3
 KernelRestarter: restarting kernel (1/5), keep random ports
WARNING:root:kernel 6b66ff5e-4d37-4c3b-af20-61f72df625a2 restarted
 Saving file at /Untitled Folder 1/Untitled.ipynb'''
c=a.split(' ')
b={}
for i in c:
    if i in b:
        b[i]=b[i]+1
    else:
        b[i]=1
print(b)

{'': 1, 'Notebook': 1, 'Untitled': 2, 'Folder': 3, '1/Untitled1.ipynb': 1, 'is': 2, 'not': 2, 'trusted\nKernel': 1, 'started:': 1, '995119e2-6a90-400a-92c2-7686108efac6,': 1, 'name:': 2, 'python3\nNotebook': 1, '1/Untitled.ipynb': 2, 'trusted\n6b66ff5e-4d37-4c3b-af20-61f72df625a2,': 1, 'python3\n': 1, 'KernelRestarter:': 1, 'restarting': 1, 'kernel': 1, '(1/5),': 1, 'keep': 1, 'random': 1, 'ports\nWARNING:root:kernel': 1, '6b66ff5e-4d37-4c3b-af20-61f72df625a2': 1, 'restarted\n': 1, 'Saving': 1, 'file': 1, 'at': 1, '/Untitled': 1}